body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

#about {
    padding: 20px;
}

.about-content-wrapper {
    display: flex;
    flex-direction: column;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo {
    max-width: 45%;
    height: auto;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.photo.show {
    opacity: 1;
}

.about-content p {
    flex: 1;
    margin: 0;
    text-align: left;
    font-size: 1.25em; /* Increase the font size */
    background: rgba(255, 255, 255, 0.8); /* Light background for frosted glass effect */
    backdrop-filter: blur(10px); /* Apply the frosted glass effect */
    padding: 20px; /* Add padding inside the box */
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for depth */
}

