body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

#about {
    padding: 20px 0;
}

.about-content-wrapper {
    display: flex;
    flex-direction: column;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo {
    max-width: 40%;
    height: auto;
    margin-right: 40px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.photo.show {
    opacity: 1;
}

.about-content p {
    flex: 1;
    margin: 0;
    text-align: left;
}

